<h1>Edit <em><%= @task.title %><em></h1>

<!-- app/views/restaurants/edit.html.erb -->
<%# added form_with in _form %>
<!-- app/views/restaurants/new.html.erb -->
<%# says hey render the form here and to the variable task pass the @task %>
<%= render "form", task: @task %>
