<!-- app/views/restaurants/new.html.erb -->
<h1>New task</h1>

<%# added form_with in _form %>
<!-- app/views/restaurants/new.html.erb -->
<%# says hey render the form here and to the variable task pass the @task %>
<%= render "form", task: @task %>
